body{
    background-color: #F2F1F4;
    margin: 0 !important;
    font-family: 'Roboto', sans-serif;
    cursor: default;
}
#container{
    display: none;
}
.menu{
    background-color: #6200ee;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 490px){
    .menu h1{
        font-size: 40px;
    }
}
.menu h1{
    margin-top: 10px;

}
.general{
    text-align: center;
}
#show-login-btn{
    margin: 10px;
    font-size: 20px;
}
.error{
    color: #f44336;
    text-align: center;
}
.bg-nav{
    background-color: #2196F3;
}
#menu-icon{
    font-size: 50px;
    color: #fff;
    margin-right: 10px;
    margin-top: 30px;
}
#email-menu-show{
    font-size: 20px;
}
#tasks-overlay{
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
@media only screen and (max-width: 700px){
    #tasks-overlay{
        width: 90%;
    }
}
@media only screen and (max-width: 650px){
    #tasks-overlay{
        width: 99%;
    }
}
#add-modal-btn{
    margin-top: 30px;
}
.checked
{
    text-decoration: line-through;
    opacity: 0.6;
}
#tasks{
    transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
}
.task{
    font-size: 20px;
    transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    word-wrap: break-word;
}
.remove-btn{
    position: absolute;
    right: 5px;
}
.date{
    font-size: 15px;
    margin-top: 6px;
    opacity: 0.9;
}
.datepicker-container{
    margin-top: -5px;
}
.timepicker-modal{
    margin-top: -22px;
}